@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

body
  font-family 'Inter', sans-serif
  background-color: #fafafc

h1
  font-weight 900

h2
  font-weight 700


.home
  padding-top: 6rem !important

.home .feature h2
  font-weight: 700 !important

.action-button
  font-weight: 700
